#cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /* 新增：寬度和標頭一致 */
  margin: 0 auto;
  /* 新增：置中 */
}

.card {
  box-sizing: border-box;
  flex: 9%;
  /* 每個 item 分配容器寬度 */
  height: 10vw;
  /* 依視窗的寬度等比例變化 */
  border: 2px solid #e0e0e0;
  margin: 12px;
  /* 卡片邊距 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 5px;
  font-size: 25px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://i.imgur.com/oJWN1w9.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  /* height: 180px; */
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* #header .title img {
  max-width: 3em;
} */

/* #header .title h2 {
  padding-left: 0.5em;
} */

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}