<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 30px;">大腦訓練遊戲網站個案管理中心</a>
    <form class="d-flex" action="/login/logout" method="POST">
      <button class="btn btn-outline-success" type="submit">登出</button>
    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container-fluid">
    <h4 class="navbar-brand" href="#">新增學員 </h4>
  </div>
</nav>

<div class="row" style="justify-content: center;">
  <div class="col-6">
    <form action="/admin/addMember" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">姓名</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>

      <div class="mb-3">
        <div>
          <label for="gender" class="form-label">性別</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="men" value="1" required>
          <label class="form-check-label" for="men">男</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gender" id="women" value="2" required>
          <label class="form-check-label" for="women">女</label>
        </div>
      </div>


      <div class="mb-4">
        <label for="class" class="form-label">班別</label>
        <select class="form-select" aria-label="class" id="class" name="class" required>
          <option selected disabled value="">請選擇班別</option>
          {{#each classes}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>

      </div>
      <button type="submit" class="btn btn-primary me-3">新增學員</button>
      <a class="btn btn-outline-primary" href="javascript:history.back()">返回</a>
    </form>
  </div>
</div>