<!-- header -->
<div id="header">
  <div class="title">
    <h2>翻牌遊戲</h2>
  </div>
  <h3>遊戲規則：請將加總為10的卡片做配對翻開</h4>
    <h2 class="score">總得分: 0</h2>
    <p class="tried">已嘗試次數: 0 次</p>
</div>

<!-- cards -->
<div class="mb-5" id="cards">
  <div class="card">
    <p>5</p>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/17991/diamonds.png">
    <p>5</p>
  </div>
</div>

<script src="/servers/cardgame-levelone.js"></script>