<!-- header -->
<div id="header">
  <div class="title">
    <h2>翻牌遊戲</h2>
  </div>
  <h4>遊戲規則：請將加總為10的卡片做配對翻開</h4>
  <h5 class="score">總得分: 0</h5>
  <h5 class="tried">已嘗試次數: 0 次</h5>
  <h4 id="time">使用時間：<span class="duration">0</span></h4>

  <!-- Button trigger modal -->
  <div>
    <button type="button" class="btn btn-outline-primary me-3" data-bs-toggle="modal" data-bs-target="#backToHme">
      返回遊戲主頁
    </button>
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#again">
      重新開始
    </button>
  </div>
</div>

<!-- cards -->
<div class="mb-2" id="cards">
  <div class="card">
    <p>5</p>
    <img src="https://img.icons8.com/ios-filled/50/000000/diamond--v1.png">
    <p>5</p>
  </div>
</div>



<!-- backToHme Modal -->
<div class="modal fade" id="backToHme" tabindex="-1" aria-labelledby="backToHmeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="margin: auto 0;">
        <h5 style="text-align: center;">按確定可返回遊戲大廳</h5>
        <h5 style="text-align: center;">
          <span style=" color: orange;">注意</span>
          ：此次遊戲將不會被存檔
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <a href="/" type="button" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>

<!-- again Modal -->
<div class="modal fade" id="again" tabindex="-1" aria-labelledby="againLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="margin: auto 0;">
        <h5 style="text-align: center;">按確定可重新開始遊戲</h5>
        <h5 style="text-align: center;">
          <span style=" color: orange;">注意</span>
          ：此次遊戲將不會被存檔
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <a href="/game/cardgame/levelone" type="button" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>


<!-- finished game Modal -->
{{!-- 之後要改成api 才能顯示完成時間 --}}
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="finishedGame" tabindex="-1"
  aria-labelledby="finishedGameLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" style="margin: auto 0;">
        {{#if breakRecord}}
        <h1>恭喜您刷新自己的紀錄</h1>
        {{/if}}
        <h5 style="text-align: center;">使用00:00完成卡片配對</h5>
        <h5 style="text-align: center;">恭喜獲得50點</h5>
      </div>
      <div class="modal-footer">
        <a href="/game/cardgame/levelone" type="button" class="btn btn-outline-primary">再玩一次</a>
        <a href="/" type="button" class="btn btn-primary">返回遊戲大廳</a>
      </div>
    </div>
  </div>
</div>

<script src="/servers/cardgame-levelone.js"></script>