<!-- header -->
<div id="header">
  <div id="gamelevel" data-level="2" class="title">
    <h2>翻牌遊戲: 中等關卡</h2>
  </div>
  <h4>遊戲規則：請將加總為10的卡片做配對翻開</h4>
  <h5 class="score">總得分: 0</h5>
  <p class="tried">已嘗試次數: 0 次</p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#backToHme">
    返回遊戲主頁
  </button>
</div>

<!-- cards -->
<div class="mb-5" id="cards">
  <div class="card">
    <p>5</p>
    <img src="https://img.icons8.com/ios-filled/50/000000/diamond--v1.png">
    <p>5</p>
  </div>
</div>



<!-- backToHme Modal -->
<div class="modal fade" id="backToHme" tabindex="-1" aria-labelledby="backToHmeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="margin: auto 0;">
        <h5 style="text-align: center;">按確定可返回遊戲大廳</h5>
        <h5 style="text-align: center;">
          <span style=" color: orange;">注意</span>
          ：遊戲將不會被存檔
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <a href="/" type="button" class="btn btn-primary">確定</a>
      </div>
    </div>
  </div>
</div>


<!-- finished game Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="finishedGame" tabindex="-1"
  aria-labelledby="finishedGameLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" style="margin: auto 0;">
        <h5 style="text-align: center;">完成卡片配對</h5>
        <h5 style="text-align: center;">恭喜獲得150點</h5>
      </div>
      <div class="modal-footer">
        <a href="/game/cardgame/leveltwo" type="button" class="btn btn-outline-primary">再玩一次</a>
        <a href="/" type="button" class="btn btn-primary">返回遊戲大廳</a>
      </div>
    </div>
  </div>
</div>



<script src="/servers/cardgame-leveltwo.js"></script>