<nav class="navbar navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 35px;">ＸＸＸ，歡迎來到認知遊戲網</a>
    <form class="d-flex" action="/login/logout" method="POST">
      <button class="btn btn-outline-success" type="submit">登出</button>
    </form>
  </div>
</nav>

<div class="row align-items-center">
  <div class="col-4" style="height: 200px;">
    <h4>遊戲規則說明：</h4>
    <p>請將數字相加等於10的兩張牌作配對。</p>
  </div>
  <div class="col-8">
    <div class="mb-5">
      <div class="mb-3">
        <h5>開始遊戲</h5>
      </div>
      <div style="display: flex;justify-content: space-around;">
        <a href="/game/cardgame/levelone" class="btn btn-outline-secondary" style="font-size: 20px;" tabindex="-1"
          role="button" aria-disabled="true">普通關卡</a>
        <a href="/" class="btn btn-outline-info" style="font-size: 20px;" tabindex="-1" role="button"
          aria-disabled="true">中等關卡</a>
        <a href="/" class="btn btn-outline-primary" style="font-size: 20px;" tabindex="-1" role="button"
          aria-disabled="true">高等關卡</a>
        <a href="/" class="btn btn-outline-danger" style="font-size: 20px;" tabindex="-1" role="button"
          aria-disabled="true">挑戰關卡</a>
      </div>
    </div>
    <div>
      <h5>過去最佳成績</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">普通關卡:</li>
        <li class="list-group-item">中等關卡:</li>
        <li class="list-group-item">高等關卡:</li>
        <li class="list-group-item">挑戰關卡:</li>
      </ul>
    </div>

  </div>
</div>