{{!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h1 class="navbar-brand">認知遊戲網</h1>
  </div>
</nav> --}}

<nav class="navbar navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 35px;">認知遊戲網</a>
    <a href="/adminLogin" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">管理者登入</a>
  </div>
</nav>

<div class="col-6" style="margin: 0 auto;">
  <form>

    <div class="mb-3">
      <label for="indexNumber" class="form-label">請輸入您的遊戲編號</label>
      <input type="test" class="form-control" id="indexNumber">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>