<nav class="navbar navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 35px;">認知遊戲網</a>
    <a href="/login/admin" class="btn btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">管理者登入</a>
  </div>
</nav>

<div class="col-6" style="margin: 0 auto;">
  <form action="/login/user" method="POST">
    <div class="mb-3">
      <label for="account" class="form-label">請輸入您的遊戲編號</label>
      <input type="text" class="form-control" id="account" name="account">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>